<!DOCTYPE html>

<html>
    <head>
        <!--hehe straight copy and paste-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Stylesheets-->
        <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='scrollbar.css') }}">

        <title>Register</title>
    </head>

    <body style="display: flex; align-items: center; justify-content: center;">

        <img alt="{{ top }}" class="border" src="https://api.memegen.link/images/puffin/{{ top | urlencode }}/{{ bottom | urlencode }}.png?api_key=myapikey42&watermark=example.com" title="{{ top }}">
    </body>

</html>

